<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/view; charset=UTF-8" />
<title>博客列表</title>
</head>
<body>
博客列表
<table>
	<tr>
		<td>邮件</td>
		<td>发送时间</td>
		<td>维度</td>
		<td>经度</td>
	</tr>
	<tr th:each="spittle : ${spittles}">
		<td th:text="${spittle.message}"></td>
		<td th:text="${#dates.format(spittle.time)}"></td>
		<td th:text="${spittle.latitude}"></td>
		<td th:text="${spittle.longitude}"></td>
	</tr>
</table>
</body>
</html>